.movies__container {
  padding: 79px 0 80px;
  width: 100%;
  border-top: 1px solid #e8e8e8;
}

.movies__container_empty {
  border-top: none;
}

.movies {
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
}

.movies__load-button {
  margin: 6px auto 24px;
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: linear 0.25s;
  cursor: pointer;
  max-width: 320px;
  width: 100%;
  display: block;
}

.movies__load-button:hover {
  background-color: #f9f9f9;
}

.movies__load-button_hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .movies__container {
    padding: 70px 0 70px;
    width: 100%;
  }

  .movies__load-button {
    margin: 26px auto 5px;
  }
}

@media screen and (max-width: 700px) {
  .movies__container {
    padding: 50px 0 100px;
    width: 100%;
  }

  .movies__load-button {
    margin: 42px auto 5px;
    max-width: 240px;
    padding: 10px 110px;
  }
}
