.section__movies {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .section__movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 540px) {
  .section__movies {
    padding: 0 10px;
  }
}
