.profile {
  position: absolute;
  top: 74px;
  left: 10px;
  right: 10px;
  bottom: 0;
  background-color: #fff;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 74px 0 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  margin: 0 0 186px;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
}

.profile__field {
  margin: 0 0 17px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.profile__field:last-child {
  border-bottom: none;
}

.profile__input {
  padding-bottom: 16px;
  text-align: right;
  width: 80%;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__update-button {
  margin: 0 0 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__logout-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ff4062;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 236px 0 96px;
  }

  .profile__form {
    margin: 0 0 178px;
  }
}

@media screen and (max-width: 600px) {
  .profile__title {
    margin: 70px 0 80px;
  }

  .profile__form {
    margin: 0 0 346px;
  }

  .profile__form {
    width: 90%;
  }

  .profile__update-button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }
}
