.error-message {
  position: fixed;
  top: 70px;
  right: 70px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.error-message_active {
  visibility: visible;
  opacity: 1;
}

.error-message__text {
  max-width: 560px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 0;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.error-message__text_theme_error {
  border: 1px solid #ff4062;
}

.error-message__text_theme_success {
  border: 1px solid #2be080;
}

@media screen and (max-width: 768px) {
  .error-message {
    right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .error-message {
    right: 14px;
  }

  .error-message__text {
    padding: 8px;
    font-size: 12px;
    line-height: 18px;
  }
}
