.portfolio {
  padding: 0 0 125px;
  max-width: 1140px;
  width: 100%;
}

.portfolio__title {
  margin: 0 0 50px;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio-item:last-child {
  border-bottom: none;
}

.portfolio-item__text {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  padding-bottom: 20px;
}

.portfolio-item__icon {
  background: no-repeat url('../../styles/images/arrow-icon.svg');
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 0 65px;
  }

  .portfolio-item__text {
    font-size: 28px;
  }

  .portfolio-item__icon {
    margin-top: 20px;
  }
}

@media screen and (max-width: 750px) {
  .portfolio {
    padding: 0 0 70px;
  }

  .portfolio__title {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio-item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
  }

  .portfolio-item__icon {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    background-size: cover;
  }
}
