#root {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: black;
}

.active-element:hover {
  transition: linear 0.25s;
  opacity: 0.6;
}

.input {
  border: none;
}

.input:focus {
  outline: transparent;
}
